@page
@model IndexModel
@{
    ViewData["Title"] = "Timeline";
}

<div>
    <div class="askForm">
        <div class="userContainer">
            <div class="user">
                <img class="avatar" src="~/avatar.png" />
            </div>
            <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="25" height="25">
                <path stroke="none" fill="#1d0f2c" d="M9.0358983848622 3.5096189432334a4 4 0 0 1 6.9282032302755 0l8.0717967697245 13.980762113533a4 4 0 0 1 -3.4641016151378 6l-16.143593539449 0a4 4 0 0 1 -3.4641016151378 -6"></path>
            </svg>
            <div class="userMessage">
                <span class="qm">"</span>Ask me anything!<span class="qm">"</span>
            </div>
        </div>
        <br/>
        <input class="ipt wide" placeholder="Content warning"/>
        <textarea class="txa wide" placeholder="Ask anything"></textarea>
        <button class="btn">Ask</button>
    </div>
</div>