@page "/"
<PageTitle>Home</PageTitle>

<h2>Welcome to Ask.NET</h2>
<p>
    Ask.NET is a basic ask software that allows anyone to send questions to registered users.
</p>
<br />
<a class="btn" href="/login">Login</a>
<a class="btn" href="/register">Register</a>